In [7]:
from bs4 import BeautifulSoup
import requests
from pprint import pprint
import pandas as pd

In [8]:
url = 'https://billboardtop100of.com/1954-2/'
data = requests.get(url)

In [10]:
my_data = []

In [11]:
html = BeautifulSoup(data.text, 'html.parser')

In [13]:
for table in html.find_all('table'):
    print(table.get('class'))

['alignleft']

In [18]:
df = pd.DataFrame(columns=['Artist','Song'])

In [15]:
table = html.find('table')

In [19]:
for row in table.tbody.find_all('tr'):
    #Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
        artist = columns[1].text.strip()
        song = columns[2].text.strip()
        
        df = df.append({'Artist': artist, 'Song': song}, ignore_index=True)

In [20]:
df.head()

             Artist                      Song
0      Kitty Kallen  Little Things Mean A Lot
1        Perry Como                    Wanted
2  Rosemary Clooney                 Hey There
3         Crew Cuts                   Sh-Boom
4       Jo Stafford           Make Love To Me

In [41]:
songs = pd.DataFrame(columns=['Rank','Artist','Song','Year'])

for i in range(1941, 2020):
    print(i)
    url = 'https://billboardtop100of.com/'+str(i)+'-2/'
    data = requests.get(url)
    html = BeautifulSoup(data.text, 'html.parser')
    table = html.find('table')
    if table is None:
        print("no table")
        i+=1
    else:
        for row in table.tbody.find_all('tr'):
            #Find all data for each column
            columns = row.find_all('td')

            if(columns != []):
                rank = int(columns[0].text.strip())
                artist = columns[1].text.strip()
                song = columns[2].text.strip()

                songs = songs.append({'Rank': rank, 'Artist': artist, 'Song': song, 'Year': i}, ignore_index=True)

1941
1942
no table
1943
no table
1944
no table
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
no table
2014
2015
2016
2017
no table
2018
no table
2019
no table

In [42]:
songs.head()

  Rank               Artist                           Song  Year
0    1         Glenn Miller          Chattanooga Choo Choo  1941
1    2           Sammy Kaye                          Daddy  1941
2    3           Artie Shaw                       Stardust  1941
3    4  The Andrews Sisters        Boogie Woogie Bugle Boy  1941
4    5         Jimmy Dorsey  Amapola (Pretty Little Poppy)  1941

In [45]:
songs.shape

(6405, 4)

In [46]:
songs.tail()

     Rank                       Artist                           Song  Year
6400   97          Ne-Yo feat. Juicy J              She Knows\nLYRICS  2015
6401   98                One Direction          Night Changes\nLYRICS  2015
6402   99                        Drake           Back To Back\nLYRICS  2015
6403  100  Calvin Harris and Disciples  How Deep Is Your Love\nLYRICS  2015
6404    1                Justin Bieber                  Love Yourself  2016

In [89]:
songs['Song'] = songs['Song'].replace(r'\nLYRICS','', regex=True)
songs.tail()

     Rank                       Artist                   Song  Year
6400   97          Ne-Yo feat. Juicy J              She Knows  2015
6401   98                One Direction          Night Changes  2015
6402   99                        Drake           Back To Back  2015
6403  100  Calvin Harris and Disciples  How Deep Is Your Love  2015
6404    1                Justin Bieber          Love Yourself  2016

In [91]:
from pathlib import Path
filepath = Path('top_songs.csv')
filepath.parent.mkdir(parents=True, exist_ok=True)
songs.to_csv(filepath)